* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Vibur', cursive;
	background-color: black;
	font-size: 0;
}

.moviewrapper {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50vw;
	height: 28.125vw;
	animation: pulsate 0.11s ease-in-out infinite alternate;
	z-index: 1;
}

@keyframes pulsate {
	100% {
		/* Larger blur radius */
		box-shadow: 0 0 2px #fff, 0 0 6px #fff, 0 0 10px #fff, 0 0 20px #f09,
			0 0 40px #f09, 0 0 45px #f09, 0 0 50px #f09, 0 0 75px #f09;
	}
	0% {
		/* A slightly smaller blur radius */
		box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #fff, 0 0 10px #f09,
			0 0 18px #f09, 0 0 20px #f09, 0 0 23px #f09, 0 0 26px #f09;
	}
}

.neon {
	position: absolute;
	top: 13.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2rem;
	text-align: center;
	animation: flicker 1.5s infinite alternate;
	z-index: 2;
	color: #ede6ee;
	cursor: pointer;
}

@keyframes flicker {
	0%,
	18%,
	22%,
	25%,
	53%,
	57%,
	100% {
		text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09,
			0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
	}

	20%,
	24%,
	55% {
		text-shadow: none;
	}
}

video {
	object-fit: fill;
}

#squeres-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 1px;
	font-size: 30;
	color: gold;
	justify-content: center;
}

.squere {
	width: 5vw;
	height: 5vh;
	background-color: #5420d3;
	z-index: -1;
	animation: fade 0.5 infinite;
}

.squere1 {
	background-color: #0ff7fd;
}

.squere2 {
	background-color: #e010f8;
}

.squere:nth-child(2n) {
	animation: fade 2s infinite;
}

.squere:nth-child(7n) {
	animation: fade 0.5s infinite;
}

.squere:nth-child(5n) {
	animation: fade 1.5s infinite;
}

.squere:nth-child(3n) {
	animation: fade 1s infinite;
}

@keyframes fade {
	0% {
		opacity: 1;
		background-color: #8c08d8;
	}
	50% {
		opacity: 0;
		background-color: #0ff7fd;
	}
	90% {
		opacity: 1;
		background-color: #e010f8;
	}
}
